<header id="contact_header">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Contact us!</h1>
      <p>Feel free to write to us.</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col col-sm-12">
      <form>
        <div class="form-group">
          <label for="nameInput">Name: </label><span class="required-asterisk"> *</span>
          <input required type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Write your name here..." [(ngModel)]="model.name" name="name"
          #name="ngModel">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="emailInput">E-Mail:</label><span class="required-asterisk"> *</span>
          <input required type="text" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Write your E-Mail here..." [(ngModel)]="model.email" name="email"
          #email="ngModel">
          <small id="emailHelp" class="form-text text-muted">Don't worry, we won't share your E-Mail with anyone.</small>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            E-Mail is required
          </div>
        </div>
        <div class="form-group">
          <label for="subjectInput">Subject:</label><span class="required-asterisk"> *</span>
          <input required type="text" class="form-control" id="subjectInput" aria-describedby="subjectHelp" placeholder="Write your subject here..." [(ngModel)]="model.subject" name="subject"
          #subject="ngModel">
          <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
            Subject is required
          </div>
        </div>
        <div class="form-group">
          <label for="descriptionTextarea">Description:</label><span class="required-asterisk"> *</span>
          <textarea required class="form-control" id="descriptionTextarea" rows="4" placeholder="Write your description here..." [(ngModel)]="model.description" name="description"
          #description="ngModel"></textarea>
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            Description is required
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-warning" (click)="processForm()">Submit</button>
      </form>
    </div>
  </div>
</div>