#contact_header {
  background-color: rgb(51, 27, 59);;
  color: white;
  height: 300px;
}

.container {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 30em;
}

.required-asterisk {
  color: red;
}

.btn
{
  background-color: rgba(142,36,170,1);  
  color: white;
  border: black;
}