.background {
  background-color: #2e2e2e;
  //height: 50px;
  //height: 20%;
  min-height: 1em;
  //max-height: 200px;
}
p {
  text-align: center;
  align-content: center;
  color: white;
}

#sitemap {
  color: white;
}
.sm_it {
  color: white;
}
