<div class="background">
  <p>
    ©2019 Neocratia - Website version that will be on the space with
    <a href="deployto.space" target="_blank" style="color: white;"
      >@StackBlitz</a
    >
    🚀
  </p>
  <div class="container" id="sitemap">
    <div class="row">
      <div class="col-sm">
        <a href="#" class="sm_it">Home</a>
        <ul>
          <li><a href="#" class="sm_it">Why</a></li>
          <li><a href="#" class="sm_it">How</a></li>
          <li><a href="#" class="sm_it">What</a></li>
        </ul>
      </div>
      <div class="col-sm">
        <a
          href="https://neocratia-meets-space-idtvrp.stackblitz.io/products"
          class="sm_it"
          >Products</a
        >
        <ul>
          <li><a href="#" class="sm_it">Citizen oversight</a></li>
          <li><a href="#" class="sm_it">Liquid democracy</a></li>
          <li><a href="#" class="sm_it">Transparent money</a></li>
        </ul>
      </div>
      <div class="col-sm">
        <ul>
          <li><a href="#" class="sm_it">Team</a></li>
          <li><a href="#" class="sm_it">Volunteer</a></li>
          <li><a href="#" class="sm_it">News</a></li>
          <li><a href="#" class="sm_it">About</a></li>
          <li><a href="#" class="sm_it">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
