.background {
  //background-color: #2e2e2e;
  background-color: rgb(51, 27, 59);
  min-height: 1em;
}
p {
  text-align: center;
  align-content: center;
  color: white;
}

#sitemap {
  color: white;
}
.sm_it {
  color: white;
}
