<header id="contact_header">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">About Neocratia</h1>
      <p>Want to know more about us?</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="card flex-row border-dark mb-3">
    <img class="card-img-left example-card-img-responsive" src="https://pbs.twimg.com/profile_images/928139355088187392/jsmt_Gft_400x400.jpg" style="width: 40%"/>
    <div class="card-body">
      <h3 class="card-title h5 h4-sm">History</h3>
      <p class="card-text">
        In 2016, Neocratia was founded by Alexander Torrenegra, with the goal of upgrading the way the laws governing
        our societies are created.
      </p>
      <h5>Follow us:</h5>
      <ul>
        <li><a href="https://www.facebook.com/Neocratia-369286796836227/">Facebook</a></li>
        <li><a href="https://twitter.com/neocratia?lang=es">Twitter</a></li>
        <li><a href="https://www.instagram.com/neocratia/?hl=es">Instagram</a></li>
      </ul>
    </div>
  </div>
</div>