#products_header {
  background-color: rgb(51, 27, 59);
  color: white;
  height: 300px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.team-card {
  height: fit-content;
}

.btn {
  background-color: rgba(142, 36, 170, 1);
  color: white;
  border: black;
}
